@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 100vh;
    background-image: url('../../dist/images/hero_neutro_desktop.png');    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    img {
        max-height: 80%;
    }
}