$corDeFundo:#000;
$corTitulos:#FFE81F;
$corTextoPrincipal:#fff;
$corButtonSith:#BC1E22;
$borderButtonSith:  #b22222;
$corButtonJedi: #007bff;
$bordeButtonJedi: #3395ff;
$corButtonTimeline: #808080;
$corButtonEffect1:#C2B280;
$corButtonEffect2: #536878;